.page-footer {
  background-color: $bg-footer;

  &__wrapper {
    display: flex;
    justify-content: space-between;

    @include container (1160px, 103px);
  }
}

@media (max-width: $table-width) {
  .page-footer {
    &__wrapper {
      padding-right: 45px;
      padding-left: 45px;
    }
  }
}

@media (max-width: $mobile-width) {
  .page-footer {
    &__wrapper {
      flex-direction: column;

      padding-right: 15px;
      padding-left: 15px;
    }
  }
}
