.promotions-main {
  &__item {
    width: 100%;
    margin-bottom: 40px;

    background-color: $bg-contrast;

    @include bg-img("../img/background-promotion-desktop@1x.jpg");
    background-position: top 0 right 0;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/background-promotion-desktop@2x.jpg");
      background-size: 280px auto;
    }
  }

  &__title {
    @include pm-zero();
    margin-bottom: 18px;
    margin-left: 45px;
    padding-top: 33px;

    @include font(28px, 700, 40px);
    color: $text-main;

    & span {
      font-size: 70px;
      line-height: 70px;
    }
  }

  &__description {
    width: 190px;

    @include pm-zero();
    margin-bottom: 185px;
    margin-left: 45px;

    @include font(18px, 400, 25px);
    color: $text-main;
  }

  &__link {
    display: inline-block;

    margin-bottom: 45px;
    margin-left: 45px;

    @include font(14px, 700, 16px);
    letter-spacing: 0.05em;
    text-transform: uppercase;

    border-bottom: 1px solid $text-main;

    &:hover,
    &:focus {
      outline: none;
      opacity: 0.7;
    }

    &:active {
      opacity: 0.5;
    }
  }
}

@media (max-width: $only-dekstop) {
  .promotions-main {
    flex-grow: 1;
  }
}

@media (max-width: $table-width) {
  .promotions-main {
    width: 100%;

    &__item {
      margin-bottom: 30px;

      @include bg-img("../img/background-promotion-tablet@1x.jpg");
      background-position: top 0 right 0;

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/background-promotion-tablet@2x.jpg");
        background-size: 399px auto;
      }
    }

    &__title {
      margin-bottom: 19px;
      padding-top: 39px;

      line-height: 33px;
    }
  }
}

@media (max-width: $mobile-width) {
  .promotions-main {
    &__item {
      display: flex;
      flex-direction: column;

      @include bg-img("../img/background-promotion-mobile@1x.jpg");
      background-position: bottom 0 left 50%;

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/background-promotion-mobile@2x.jpg");
        background-size: 290px auto;
      }
    }

    &__title {
      margin-right: auto;
      margin-bottom: 15px;
      margin-left: auto;
      padding-right: 15px;
      padding-left: 15px;

      text-align: center;
    }

    &__description {
      margin-right: auto;
      margin-bottom: 30px;
      margin-left: auto;
      padding-right: 15px;
      padding-left: 15px;

      text-align: center;
    }

    &__link {
      margin-right: auto;
      margin-bottom: 344px;
      margin-left: auto;

      text-align: center;
    }
  }
}
