.slider {
  position: relative;

  max-width: 1366px;
  margin-right: auto;
  margin-bottom: 120px;
  margin-left: auto;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    min-height: 294px;

    @include pm-zero();
    padding-right: 56px;
    padding-left: 56px;

    list-style: none;
  }
}

.only-js .slider {
  max-width: 1160px;

  overflow: hidden;
}

.only-js .slider__list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;

  @include pm-zero();
  min-height: 294px;

  list-style: none;
}

@media (max-width: $only-desctop-slider) {
  .only-js .slider {
    width: 860px;
  }
}

@media (max-width: $table-width) {
  .slider {
    min-width: 678px;
    margin-bottom: 100px;
  }

  .only-js .slider {
    min-width: 566px;
    max-width: 566px;
  }
}

@media (max-width: $mobile-width) {
  .slider {
    min-width: 290px;
    margin-bottom: 120px;

    &__list {
      padding-left: 32px;
      padding-right: 32px;
    }
  }

  .only-js .slider {
    min-width: 226px;
    max-width: 226px;
  }

  .only-js .slider__list {
    min-height: 274px;
  }
}
