.trainers {
  &__title {
    max-width: 1160px;

    @include pm-zero();
    margin-right: auto;
    margin-bottom: 55px;
    margin-left: auto;
    padding-top: 115px;

    font-family: "Bebas Neue", "Arial Narrow", sans-serif;

    @include font(49px, 700, 49px);
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: $text-content;
  }

  &__wrapper {
    position: relative;

    max-width: 1366px;
    margin-right: auto;
    margin-left: auto;
  }

  &__button {
    display: none;

    position: absolute;

    width: 16px;
    height: 32px;

    @include pm-zero();
    border: none;
    background: none;

    cursor: pointer;

    &::before {
      content: "";

      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;
    }

    &--prev {
      top: calc(50% - 16px);
      left: 46px;

      &::before {
        @include bg-img("../img/icon-arrow-left.svg");
        background-size: cover;
      }
    }

    &--next {
      top: calc(50% - 16px);
      right: 46px;

      &::before {
        @include bg-img("../img/icon-arrow-right.svg");
        background-size: cover;
      }
    }

    &:hover,
    &:focus {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.2;
    }
  }
}

.only-js .trainers__button {
  display: block;
}

@media (max-width: $table-width) {
  .trainers {
    &__title {
      min-width: 129px;
      margin-bottom: 45px;
      padding-top: 95px;
      padding-right: 45px;
      padding-left: 45px;

      font-size: 42px;
      line-height: 42px;
      text-align: center;
    }

    &__button {
      &--prev {
        left: 44px;
      }

      &--next {
        right: 45px;
      }
    }
  }

  .only-js .trainers__wrapper {
    max-width: 768px;
  }
}

@media (max-width: $mobile-width) {
  .trainers {
    &__title {
      min-width: 99px;
      margin-bottom: 45px;
      padding-top: 22px;
      padding-right: 15px;
      padding-left: 15px;

      font-size: 32px;
      line-height: 32px;
    }

    &__button {
      width: 10px;
      height: 19px;

      &--prev {
        top: calc(50% - 19px);
        left: 14px;
      }

      &--next {
        top: calc(50% - 19px);
        right: 14px;
      }
    }
  }

  .only-js .trainers__wrapper {
    max-width: 320px;
  }
}
